.TodoContainer {
  display: flex;
}

.todoRemoveBtn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: rgb(194, 4, 4);
  font-weight: bold;
  background-color: white;
}

li {
  background-color: rgb(251, 251, 251);
  border-bottom: 1px solid rgba(71, 71, 71, 0.157);
  border-right: 1px solid rgba(71, 71, 71, 0.157);
  padding: 3px;
  width: 100%;
  word-wrap: break-word;
  text-align: left;
  padding-left: 10px;
}
